.perfilContainer {
  margin-top: 86px;

  h1 {
    color: var(--blue-600, #081b4e);
    font-family: Epilogue, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.72px;

    span {
      color: var(--orange-500, #f43724);
      font-family: Epilogue, sans-serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: -0.72px;
    }
  }

  p {
    color: var(--gray-500, #777);
    font-family: Epilogue, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.72px;
  }
}
