.enviar {
  width: 308px;
  height: 57px;
  padding: 16px 107px;
  align-items: center;
  border-radius: 10px;
  background: var(--blue-600, #081B4E);
  color: var(--gray-150, #FBFBFB);
  font-family: Epilogue, sans serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.56px;
}

.forgotButton {
  button {

    outline: 0;
    border: 0;
    background-color: transparent;

    span {
      color: var(--orange-700, #F21A05);
      text-align: right;
      font-family: Epilogue, sans serif;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: -0.715px;

    }
  }
}

.btn-large {
  padding: 16px 10px;

}