.enviar {
  width: 100%;
  height: 57px;
  padding: 16px 0;
  align-items: center;
  border-radius: 10px;
  background: var(--blue-600, #081b4e);

  h5 {
    margin: 0;
    color: var(--white, #fff);
    font-family: Epilogue, sans serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.56px;
  }
}

.forgotButton {
  button {
    outline: 0;
    border: 0;
    background-color: transparent;

    p {
      color: var(--orange-700, #f21a05);
      text-align: right;
      font-family: Epilogue, sans serif;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: -0.715px;
    }

    span {
      font-size: 11px;

    }
  }
}

.btn-large {
  padding: 16px 10px;
}
