.tabCustom {
  button {
    color: var(--blue-600, #081b4e) !important;
    font-family: Epilogue, sans-serif;
    font-size: 14px;
    text-transform: capitalize;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }
}

.css-19kzrtu {
  padding: 24px 0 !important;
}
