.sidebar {
  position: fixed;
  z-index: 1;
  width: 256px;
  background: var(--white, #fff);
  box-shadow: 6px 0px 18px 0px rgba(0, 0, 0, 0.06);
  height: 100vh;

  svg {
    color: red
  }

  a {
    text-decoration: none;
    margin: 0;
  }

  p {
    margin-left: 14px;
    margin-bottom: 0;
    color: var(--black, #000);
    font-family: Epilogue, sans serif;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.39px;
  }

  .col-logo {
    padding: 20px 40px;
  }

  .col-nav {
    padding: 17px 24px;
  }

  .line-end {
    border-bottom: 2px solid var(--divider, #ebeff2);
  }

  .col-end {
    padding: 28px 25px;
  }

  .active {
    color: var(--orange-500);
  }
}
